/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --bordure-color:#d9d9d9;
    --bg-card-color:white;
}
.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin-top: 30px;
}

.card {
    background-color: var(--bg-card-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card2 {
    background-color: var(--bg-card-color);
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/********* Barre de Navigation **************/
.hautnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height:80px;
}
.liennav {
    width: 244px;
    height: 35px;
    display: flex;    
}
.nav1 {
    padding-top: 20px;
    border-top: solid 2px;
    border-color: white;    
}
.nav2 {
    padding-top: 20px;
    text-align: center;
    border-top: solid 2px;
    border-color: white;
}
.hover1 {
    width: 50%;
    padding-top: 20px;
    text-align: center;
    margin-right: 60px;
    border-top: solid 2px;
    border-color: white;
}
.hover2 {
    width: 50%;
    padding-top: 20px;
    text-align: center;
    border-top: solid 2px;
    border-color: white;

}
.hover1:hover, .nav1:hover {
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
.hover2:hover, .nav2:hover {
        color: var(--main-color) !important;
        border-color: var(--main-color) !important;
}
.titre {
    width:120px;
    height:80px;
}
#logo {
    width: 60px;
    margin-top:30px;
}

h1 {
    margin-top: 40px;
    font-size: 22px;
}

/******  Barre de recherche   **********/
.barrerech {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    height: 49px;
}

.bob {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 15px 15px 15px;
    height: 50px;
}

.search-term{
    border: none;
    font-size: 20px;
    height: 46px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
.fa-location-dot {
    padding: 16px 0 0 16px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    height: 34px;
    width:35px;
}
.fa-magnifying-glass {
    display:none;
}
    
.validation {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    color: var(--bg-card-color);
    padding:  12px;
    font-size: 20px;
    font-weight: bold;
    height:50px;
}
/******  filtres   **********/
h2{
    font-size: 18px;
    margin-top: 5px;
    margin-top: 5px;
}
.filtres-titre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 838px;
    
} 
.module :hover{
    background-color: var(--filter-bg-color)
} 
.filtre {
    border: solid var(--bordure-color) 2px;
    border-radius: 25px;
    padding: 15px;
}
.fa-money-bill-wave {
    padding-right: 10px;
}
.fa-person {
    padding-right: 10px;
}
.fa-heart {
    padding-right: 10px;
}
.fa-fire {
    padding-right: 10px;
}

/******  i information   **********/

.info {
    display: flex;
    align-items: center;
    gap:12px;
    margin: 10px 0 20px 0;
}
.fa-info {
    border: solid var(--bordure-color) 1px;
    border-radius: 50%;
    padding: 5px 10px;
    
}

/****** hebergements ***********/
h3 {
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 22px;
}
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    height: 614px;  
}
.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    }
.hebergements-cards a {
    width: 32%;
}

.hebergements-cards .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    }

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }

.hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin: 10px 0 4px 15px;
    
}

.hebergements-cards .card-subtitle {
    margin: 10px 0 5px 15px;
}

.hebergements-cards .card-rating {
    margin: 0 0 5px 15px;
}
.card img {
    width: 100%;
    height:114px;
}
/******fin du test *********/
.plus {
    font-size: 18px;
    margin: 30px 0 0 30px;
    
}

.activités h3  {
    font-size: 22px;
    margin-left: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap:30px;
}

.hebergements-and-populaires section {
    border-radius: 15px;
    box-sizing: border-box;
}
/******** Activités **********/


.Activités-rubrique {
    margin-top: 20px;
}
.activités {
    padding: 20px 30px 30px 30px;
}
.activités-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap:30px;
}
.activités-cards a{
    width: 25%;
}
.activités-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    }
.activités-cards .card2 {
    height: 439px;
}
.card2 img{
    width: 100%;
    height:380px;
}
h4 {
    font-size: 22px;
}
.card-title2 {
    margin: 15px;
    font-size: 15px;
}


/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    height: 614px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    
}
.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    }

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 0;
}

.populaires-cards .card-subtitle {
    margin: 0;
}
.fa-chart-line {
    margin-right: 30px;
    margin-top:30px; 
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/************  Foot test  **********/
h5{
    font-size: 18px;
    margin: 20px 0 20px 0;
}
.foot-container {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color) ;
    padding-left: 20px;
    margin-top: 20px;
}
.foot-text {
    width: 33%;
}
.foot-liens {
    display: flex;
    flex-direction: column;
    gap: 25px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 0;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        height: 252px;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        width: 40%;
        gap: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activités-cards .card2 {
        height:270px;
    }
    .card2 img{
        width: 100%;
        height:200px;
    } 
    .foot-container{
        gap: 20px;
    }   
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container{
        width: 100%;
        padding: 0; 
    }
    .titre {
        margin-left: 32%;
        width: 35%;
        text-align: center;
    }
    .hautnav{
        flex-direction: column;
        height: 115px;
    }
    .liennav{
        width: 100%;
    }
    .hover1 {
        margin-right: 0;
        padding-bottom: 40px;
        border-top: none;
        border-bottom: solid 2px;
        border-color: var(--bordure-color);
    }
    .hover2 {
        padding-bottom: 40px;
        border-top: none;
        border-bottom: solid 2px;
        border-color: var(--bordure-color);
    }
    .nav1 {
        border: none !important;
        margin-right: 0;  
    }
    .nav2 {
        border: none !important;      
    }
    
    h1  {
       margin: 60px 20px 8px 20px; 
    }
    p   {
        margin: 10px 20px 0 20px; 
    }
    .bob{
        width: 80%;
    }
    .bub{
        width: 100%;
    }
    .barrerech {
        justify-content: center;
    }
    .search-term{
        border-color: transparent;
        height: 48px;
        width: 100%;
        text-align: left;
        padding-left: 20px;
        font-size: 18px;
    }
    .validation {
        display: none;
    }
    .fa-magnifying-glass {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        border-radius: 15px 15px 15px 15px;
        padding: 12px;
        font-size: 20px;
        font-weight: bold;
        height: 22px;
        display:inline;
        box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 30%);
        
    }
    .filtres-titre{
        width: 100%;
    }
    
    h2  {
        margin: 0 0 0 20px;
    }
    .filtres {
        gap: 10px;
        justify-content: center ;
        }
    .filtre {
        padding: 10px;
    } 
    .module {
        flex-wrap: wrap;
        width: 46%;
        height: 50px;
        font-size: 13px;
    }
    .info {
        gap: 10px;
        margin: 10px 0 20px 20px;
    }
    .info p{
        margin: 0;
    }
    p {
        margin: 0 20px 0 20px;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
    }    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    .populaires-cards a {
        width: 100%;
    }
    .populaires-title {
        padding-bottom: 10px;
    }

    .populaires-cards {
        flex-direction: column;
        gap:10px;
        padding: 0 20px 0 20px;
       
    }
    .populaires {
        width: 100%;
        height: 569px;
        margin-top: 10px;
        background-color: var(--main-bg-color);
    }    
    .populaires-cards .card {
        margin-top: 10px;
    }
    .hebergements {
        height:100%;
        background-color: transparent;  
    }
    .hebergements-cards a {
        width: 100%;
    }
    .hebergements-cards {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 15px;
        margin-top: 15px;
    }
    .hebergements-cards .card {
        margin-top: 0;
    }
    .activités-cards a {
            width: 100%;
    }
    .activités {
        height:935px;
    }
    h5 {
        font-size: 22px;
    }
    .activités-cards {
        flex-direction: column;
        gap:0;
    }
    .activités-cards .card2 {
        width:100%;
        height:200px;
        margin-top: 15px;
    }
    .activités-cards img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 70%;
    }
    .foot-text {
        margin-top: 20px;
        width: 100%;
    }
    .foot-container {
        flex-direction: column;
    }   
    .foot-liens {
        gap: 10px;
        margin: 10px 0 0 0;
    }
}